<div class="background">
  <div class="container text-center">
      <br>
      <br>
      <br>
      <br>
      <h1 style="font-size: 24px; font-family: 'georgia';font-weight: bold;">Welcome to Pension Management System</h1><br>
      <a *ngIf="!loggedIn" routerLink="/login" mat-raised-button color="accent">Login here</a>
  </div>
</div>
<div class="about-section">
  <h1 style="color: rgb(228, 42, 42); font-size: 30px; font-weight:initial;">About Application</h1>
  <p style="color: black;">This is an application for pension management</p>


</div>
